<div class="jumbotron text-center">
  <h1><strong>{{ Libreria }}</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Bienvenido</h3>
      <p>
        Gracias por visitar nuestro nuevo sitio web. Esperamos que el catálogo de libros que hemos preparado para usted sea interesante.
        Nuestro objetivo ha sido siempre el ofrecer un sitio web a nuestros visitantes que represente una experiencia útil.¡Échele un vistazo, estamos seguros de que encontrará lo que está buscando en <strong>{{ Libreria }}</strong>!

        Aquí podrá obtener una gran cantidad de información acerca de nuestros libros.

        ¿Interesado en saber más acerca de nuestra libreria?
        Sólo siga los vínculos o enlaces en la barra principal de navegación que se encuentra en la parte superior derecha de nuestra página web.
      </p>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="Navegar()">Login</button>
  </div>
  <!--<app-cliente-component nombre="Juan" email="mail@mail.es"></app-cliente-component>-->
</div>
